.card {
    width: 280px;
    display: block;
    margin: 60px auto;
    box-shadow: 10px 6px 20px -10px rgb(54 54 54 / 60%);;
    -webkit-box-shadow: 10px 6px 20px -10px rgb(54 54 54 / 60%);
    -moz-box-shadow: 10px 6px 20px -10px rgb(54 54 54 / 60%);
    transition: .25s;
}

.card:hover {
    box-shadow: 10px 6px 20px -5px rgb(0 0 0 / 95%);
    -webkit-box-shadow: 10px 6px 20px -5px rgb(0 0 0 / 95%);
    -moz-box-shadow: 10px 6px 20px -5px rgb(0 0 0 / 95%);
    cursor: pointer;
}

.cardHeader {
    height: 150px;
    width: 100%;
    padding: 15px;
    width: 100%;
    background-size: cover;
    color: #fff;
    box-sizing: border-box;
}

.cardHeaderTtitle {
    margin: 0;
}

.cardBody {
    padding: 15px;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.date {
    font-size: 11px;
    font-weight: 600;
    color: grey;
}

.bodyContent {
    padding-bottom: 40px;
    font-size: 13px;
    line-height: 1.8;
    text-align: justify;
}

.buttonPrimary {
    border: none;
    box-shadow: none;
    font-family: inherit;
    background-color: transparent;
    color: rgba(48,207,208,1);
    transition: .25s;
    margin-right: 10px;
}

.buttonPrimary:hover {
    color: rgb(31, 168, 168);
}

i {
    padding-right: 4px;
}

.designerLink {
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.bodyContentWrapper {
    position: relative;
    height: 5.6em;
    overflow: hidden;
}

.bodyContentWrapper:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}


@media (max-width: 768px) {
    .card {
        width: 200px;
        display: block;
        margin: 30px auto;
    }
    
    .cardHeader {
        height: 120px;
    }
}

@media (max-width: 425px) {
    .card {
        width: 280px;
        display: block;
        margin: 10px auto;
    }
    
    .cardHeader {
        height: 120px;
    }
}