.homeContainer {
    height: 100vh;
}

.about {
    background: rgb(255, 255, 255);
    height: 100vh;
}

.content {
    background: purple;
    height: 100vh;
}

.footer {
    background: rgb(255, 255, 255);
    height: 100vh;
}