.contentContainer {
    background-color: #eaffff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .contentContainer {
        flex-wrap: wrap;
    }
}