.landing {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.landingTitle {
    color: white;
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    padding-left: 40px;
}

.profileImageContianer {
    color: white;
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.profileImage {
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 100px;
    overflow: hidden;
}

.profileImageTag {
    height: 200px;
    width: 200px;
}

.name {
    font-size: 70px;
    font-weight: 700;
    width: 100%;
    display: flex;
}

.designation {
    font-size:30px;
    font-weight: 500;
    width: 100%;
    display: flex;
}