.landing {
    /* background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% ); */
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #252627;
}

.landingTitle {
    color: white;
    font-family: 'Open Sans';
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    padding-left: 40px;
}

.profileImageContianer {
    color: white;
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 40px;
}

.profileImage {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50px;
    overflow: hidden;
}

.profileImageTag {
    height: 50px;
    width: 50px;
}

.name {
    font-size: 50px;
    font-weight: 700;
    width: 100%;
    display: flex;
    grid-area: text;
    color: #ffffff;
    text-shadow: 0vmin 1vmin 0px #f50057;
}

.landingText {
    font-size: 50px;
    font-weight: 700;
    width: 100%;
    display: flex;
}

.subText {
    font-size: 50px;
    font-weight: 700;
    display: flex;
}

.metaLine {
    width: 100%;
    display: flex;
    font-size: 12px;
    width: 100%;
    color: #4a4a4b;
    margin-top: 10px;
    display: flex;
    letter-spacing: 2px;
}

.floatingShapesOne {
    height: 225px;
    width: 225px;
    position: absolute;
    background: linear-gradient(to right bottom, rgba(245 0 87 / 80%), rgb(245 0 87 / 14%));
    left: 60%;
    top: 20%;
    border-radius: 50%;
}

.floatingShapesTwo {
    height: 225px;
    width: 225px;
    position: absolute;
    background: linear-gradient(to right bottom, rgba(245 0 87 / 80%), rgb(245 0 87 / 22%));
    left: 70%;
    border-radius: 50%;
    top: 35%;
}

.floatingShapesThree {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #f50057;
    left: 60%;
    top: 20%;
}

.floatingShapesFour {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #f50057;
    left: 60%;
    top: 20%;
}

.customShapeDividerBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


.customShapeDividerBottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 136px;
    transform: rotateY(180deg);
}

.customShapeDividerBottom .shapeFill {
    fill: #F50057;
}

@media (max-width: 320px)  {
    .name {
        font-size: 30px;
    }

    .subText {
        font-size: 30px;
    }

    .landingText {
        font-size: 30px;
    }
}

@media (max-width: 426px)  {
    .name {
        font-size: 35px;
    }

    .subText {
        font-size: 35px;
    }

    .landingText {
        font-size: 35px;
    }
    .floatingShapesOne {
        display: none;
    }
    
    .floatingShapesTwo {
        display: none;
    }
    .profileImageContianer {
        display: none;
    }
}

@media (max-width: 768px) {
}